---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Porter Track - Hospital Transportation Management">
  <script>
    // Mount the Vue application client-side
    import { createApp } from 'vue';
    import { createPinia } from 'pinia';
    import App from '../components/App.vue';
    
    // Create Vue app with Pinia store
    const app = createApp(App);
    const pinia = createPinia();
    app.use(pinia);
    
    // Mount the app
    app.mount('#app');
  </script>
  
  <div id="app"></div>
</Layout>
